 <mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="example-icon" aria-label="Latest News" routerLink="">
    <mat-icon>Latest News</mat-icon>
  </button>
  <div>
    <button mat-icon-button class="example-icon" aria-label="Latest News" routerLink="">
    <mat-icon>Sport News</mat-icon>
  </button>
    
    <span routerLink=""></span>
    <span routerLink="sportnews">Sport News</span>
    <span>Tech News</span>

  </div>
</mat-toolbar> 

<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
<router-outlet></router-outlet>
<div *ngFor="let newsItem of mArticles">

  <span>{{newsItem.title}}</span>
  <img src="{{newsItem.image_url}}" style="height: 40px;"/>
  <span>{{newsItem.description}}</span>
  <span>{{newsItem.pubDate}}</span>
</div>